# Acceso global (tú)
* @Darlyn30 @sistema-bibliotecario-ITLA/LiderDesarrollo

#rama que recibe la regla / la organizacion / el departamento que puede aprovar a esa rama
# Reglas específicas
Front/ @sistema-bibliotecario-ITLA/Lead-Front
Backend/ @sistema-bibliotecario-ITLA/Lead-Backend
DBA/ @sistema-bibliotecario-ITLA/DBA
QA/ @sistema-bibliotecario-ITLA/QA
